body{
 background-color: #E9D5DA;
 }
 hr{
   background-color: #F2D1D1;
   border-style: none;
  border-top-style: dotted;
  border-color : grey;
  border-width: 5px;
   height: 1px;
   width :100px;
 }
 img{
   height: 150px;
   background-color: #A760FF;
 }
 h3{
   color: #15133C;
 }
 /**p{
   color: blue;     } **/             /******cause of two ids ..there is dominant of blue color *****/


.image:hover{
  background-color: gold;
}
.image {
  border-radius: 100%;
}

#heading {
  color: #2E0249;
}
#para {
  color: #001D6E;
  font-size: 18px;
}
.img-lily{
  position : absolute;
  right: 100px;
  top: 100px;
  height:350px;
  width: 450px;
  background-color: red;
}
